# General
.DS_Store

# Thumbnails
._*

# Windows
Thumbs.db

*~

# Vim Swap
[._]*.sw[a-p]

.vscode/*

# vitepress specific

# dependencies
node_modules/

# VitePress cache + build output
docs/.vitepress/cache/
docs/.vitepress/dist/

# logs
*.log

# OS / editor
.DS_Store
.vscode/
.idea/